<%
  subject_line "#{t('new_match')} #{@move.from_group.location.name}"
%>
<p><%= t('hi_name', name: @move.user.email) %>!</p>

<p>
  <%= link_to t('user_mailer.new_match.chat_link'), chat_url(@chat) %>
</p>
