<%
  subject_line t('new_match') + " " + @move.from_group.name
%>
<h2><%= t "user_mailer.landing_signup.title", name: @move.user.email %></h2>

<p>
  <%= link_to t('user_mailer.new_match.chat_link'), chat_url(@chat) %>
</p>
