<%
%>
<% City.all.each do |city| %>
  <div>
    <%= link_to city.name, admin_locations_path(city_id: city.id) %>
  </div>
<% end %>
<div>
  <%= link_to User.size.to_s + ' ' + User.model_name.human(count: User.size), admin_users_path %>
</div>
<div>
  <%= link_to Chat.size.to_s + ' ' + Chat.model_name.human(count: Chat.size), admin_chats_path %>
</div>
<div>
  <%= link_to t('report', count: Message.reported.length), admin_reported_messages_path %>
</div>
