body, html
  font-family: 'Pangolin', cursive
  font-size: 16px
  height: 100%

$color-background: unquote('#feff99')
$color-background-transparent: unquote('#fff')

.background-gradient
  background: linear-gradient(to bottom, $color-background, $color-background-transparent)
.background-same-as-cute
  background: $color_background
