<%= show_all_map(Location.all.map do |location|
  location.description_for_map = %(
    <p>
      #{location.address}
    </p>
    <button onclick='select_value_and_toggle_modal(event, "#{location.name_with_address}", "#{location.id}", "#{params[:select_element]}", "#find-on-map-modal")'>
      #{I18n.t('select')}
    </button>
  )
  location
end, script_for_map: %(
  function select_value_and_toggle_modal(e, selectText, selectValue, selectTarget, closeModal) {
    e.preventDefault();
    $(closeModal).modal('toggle');
    $(selectTarget).select2({
      data: [{id: selectValue, text: selectText}],
      ajax: {
        url: $(selectTarget).data('select2AjaxInitialize'),
        dataType: 'json'
      }
    });
    $(selectTarget).val(selectValue).trigger('change');
  })
)
%>
