<%
  landing_layout
%>
<div class="fag-page">
  <dl>
    <dt>Чему служи овај сајт ?</dt>
    <dd>Премести.се је намењен родитељима који трагају за премештајем своје деце из једног вртића у други.</dd>
    <dt>Како ради овај сајт ?</dt>
    <dd>Када се нађе поклапање са неким другим жељама, родитељи добије имејл и могу да ступе у контакт са другим родитељима.</dd>
    <dt>Да ли овај сајт има везе са захтевом који се подности устави, нпр. Радосно Детињство ?</dt>
    <dd>Овај сајт нема никакве везе са надлежним установама, сајт је намењен искључиво да олакша комуникацију међу родитељима. Родитељи морају да поднесу захтев у писменој форми надлежној установи.</dd>
  </dl>
</div>
