<%
  landing_layout
%>
<div class="fag-page">
  <details>
    <summary>Who is this site for ?</summary>
    Move-index is for parents who are looking for moving their children from one to another institution.
  </details>

  <details>
    <summary>What does this website do ?</summary>
    When there is a matching with some other move intentions, parents receive emails and can continue communication off-site.
  </details>
  <details>
    <summary>Does this site have something with official procedure that is needed to be submitted to competent institution ?</summary>
    This site has nothing to do with the relevant institutions. The site is intended exclusively to facilitate communication between parents. Parents must submit written request to the competent institution.
  </details>
  <details>
    <summary>What's the advantage of this site then?</summary>
    Although the authority quickly resolves the requirements when there is a free place, this site can help by using a graphical database that allows to find the appropriate free places: A-> B and B-> A, as well as A-> B, B -> C, C-> A.
  </details>
  <details>
    <summary>How secure is my privacy ?</summary>
    Use of the site does not require name or any other information except email (since it sends messages using email). Read more about <%= link_to 'privacy policy', privacy_policy_path %>.
  </details>
  <details>
    <summary>Who created this site ?</summary>
    Site is create by TRK INNOVATIONS company.
  </details>
</div>
