<%
  landing_layout
%>
<div class="fag-page">
  <details>
    <summary>Kome je namenjen ovaj sajt ?</summary>
    Premesti.se je namenjen roditeljima koji tragaju za premeštajem svoje dece iz jednog vrtića u drugi.
  </details>

  <details>
    <summary>Kako radi ovaj sajt ?</summary>
    Kada se nađe poklapanje sa namerama drugih roditelja, roditelji dobiju imejl i mogu da stupe u međusobni kontakt i da zajedno podnesu zahtev za premeštaj.
  </details>
  <details>
    <summary>Da li ovaj sajt ima veze sa zahtevom koji se podnosti ustavi, npr. Radosno Detinjstvo ?</summary>
    Ovaj sajt nema nikakve veze sa nadležnim ustanovama, sajt je namenjen isključivo da olakša komunikaciju među roditeljima. Roditelji moraju da podnesu zahtev u pismenoj formi nadležnoj ustanovi.
  </details>
  <details>
    <summary>U čemu je onda prednost ovog sajta ?</summary>
    Iako nadležna ustanova brzo rešava zahteve kada se stvori mogućnost premeštanja, ovaj sajt može da pomogne tako što koristi grafičku bazu podataka koja omogućava da se nađu odgovarajuća slobodna mesta: A->B i B->A, kao i A->B, B->C, C->A.
  </details>
  <details>
    <summary>Koliko je sigurna moja privatnost ?</summary>
    Korišćenje sajta ne zahteva unos imena niti bilo koje druge informacije osim imejl adrese (pošto se ona koristi za slanje poruka o poklapanjima). Pročitaj više na <%= link_to 'politika privatnost', privacy_policy_path %>.
  </details>
  <details>
    <summary>Ko je napravio ovaj sajt ?</summary>
    Sajt je napravila kompanija TRK INOVACIJE DOO NOVI SAD.
  </details>
</div>
