<%
  landing_layout
%>
<div class="fag-page">
  <details>
    <summary>Коме је намењен овај сајт ?</summary>
    Премести.се је намењен родитељима који трагају за премештајем своје деце из једног вртића у други.
  </details>

  <details>
    <summary>Како ради овај сајт ?</summary>
    Када се нађе поклапање са намерама других родитеља, родитељи добију имејл и могу да ступе у међусобни контакт и да заједно поднесу захтев за премештај.
  </details>
  <details>
    <summary>Да ли овај сајт има везе са захтевом који се подности устави, нпр. Радосно Детињство ?</summary>
    Овај сајт нема никакве везе са надлежним установама, сајт је намењен искључиво да олакша комуникацију међу родитељима. Родитељи морају да поднесу захтев у писменој форми надлежној установи.
  </details>
  <details>
    <summary>У чему је онда предност овог сајта ?</summary>
    Иако надлежна установа брзо решава захтеве када се створи могућност премештања, овај сајт може да помогне тако што користи графичку базу података која омогућава да се нађу одговарајућа слободна места: А->Б и Б->А, као и А->Б, Б->Ц, Ц->А.
  </details>
  <details>
    <summary>Колико је сигурна моја приватност ?</summary>
    Коришћење сајта не захтева унос имена нити било које друге информације осим имејл адресе (пошто се она користи за слање порука о поклапањима). Прочитај више на <%= link_to 'политика приватности', privacy_policy_path %>.
  </details>
  <details>
    <summary>Ко је направио овај сајт ?</summary>
    Сајт је направила компанија ТРК ИНОВАЦИЈЕ ДОО НОВИ САД.
  </details>
</div>
