.hide-not-important {
  display: none;
  &.active {
    display: initial;
  }
}
.no-padding-relative {
  position: relative;
  padding: 0;
}
.hide-to-up {
  position:absolute;
  top: -1000px;
}

.inline {
  display: inline;
}

// show on hover
//
//  <li class="show-on-hover">
//    Text<a href="" class="show-on-hover-target">X</a>
//  </li>
.show-on-hover-target {
  visibility: hidden;
}
.show-on-hover:hover {
  .show-on-hover-target {
    visibility: visible;
  }
}
