@import variables
body, html
  font-family: 'Pangolin', cursive
  // default bootstrap font size
  font-size: 16px
  height: 100%

.hide-not-important
  display: none

  &.active
    display: initial

.no-padding-relative
  position: relative
  padding: 0

.hide-to-up
  position: absolute
  top: -10000px

.inline
  display: inline

// show on hover
//
//  <li class="show-on-hover">
//    Text<a href="" class="show-on-hover-target">X</a>
//  </li>
.show-on-hover-target
  visibility: hidden

.show-on-hover:hover
  .show-on-hover-target
    visibility: visible

// add class show to stay visible when not hovering, bootstrap dropdown does dat
.show-on-hover-target.show
  visibility: visible

// toggle active without javascript
// <label for="toggle-active"><%= t('add') %></label>
// <input type="checkbox" id="toggle-active" class="toggle-active" />
// <div class="toggle-active-adjacent-sibling hide-not-important">
// </div>
// https://www.sitepoint.com/pure-css-off-screen-navigation-menu/
.toggle-active
  position: absolute
  clip: rect(0, 0, 0, 0)

  &:checked + .toggle-active-adjacent-sibling
    display: initial

label[for="toggle-active"]
  cursor: pointer

details
  margin: 1rem

summary
  font-weight: bold

.btn-facebook
  color: #fff
  background-color: #3b5998
  border-color: rgba(0,0,0,0.2)
  &:hover
    color: #fff
    background-color: #2d4373

.btn-google
  color: #fff
  background-color: #dd4b39
  border-color: rgba(0,0,0,0.2)
  &:hover
    color: #fff
    background-color: #c23321

.root-icon
  width: 30px

.colorize-text-background-radial
  background: radial-gradient(blue, red 60%, green %20)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

.colorize-text-background
  background: linear-gradient(#424242, #8c8989, #155b40)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

.colorize-text-background-vertical
  background: repeating-linear-gradient(to right, blue, red 5%, green 15%)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

.color-age-1
  color: $color-age-1
.color-age-2
  color: $color-age-2
.color-age-3
  color: $color-age-3
.color-age-4
  color: $color-age-4
.color-age-5
  color: $color-age-5
.color-age-6
  color: $color-age-6
.color-age-7
  color: $color-age-7

.reported
  background-color: $orange

// occupy image place before it loaded so we do not have bounce effect
.fb-image
  width: 50px
  height: 50px

.pagination
  justify-content: center
  span
    padding: 10px
