@import variables

=border
  stroke: $color-black
  stroke-width: 0.1
  stroke-opacity: 0.5

.background-gradient
  background: linear-gradient(to bottom, $color-background, $color-background-transparent)
.background-same-as-cute
  background: $color_background

.btn-social
  font-size: 24px

.navbar .logo-img
  height: 6rem

.login-page
  background-image: asset-url("cute.jpg")
  background-color: $color-background

  height: 100%

  .login-box
    width: 20rem
    max-width: 80vw
    &.login-box__wide
      width: 50rem


.logo-img
  width: 10rem

.flags-dropdown
  align-self: flex-start

.my-move
  & label
    display: block!important
  &>div
    padding-right: 1em
    padding-bottom: 1em
    button
      margin-top: 2em
.my-move-introduction
  font-size: 1em
  padding-bottom: 1em
  & b
    font-size: 1.2em
    color: $color-black

.home-bottom
  position: absolute
  bottom: 1em
  padding: 0 1em
  text-align: center
  color: $color-black

@include media-breakpoint-down(sm)
  .site-description h2
    font-size: 1.3rem
