<p><%= t('hi_name', name: @email) %>!</p>

<p><%= t("user_mailer.landing_signup.confirmation_text") %></p>

<p><%= link_to t("confirm_email"), confirmation_url(@resource, confirmation_token: @token) %></p>
