<p><%= t('my_devise_mailer.hi_name', name: @email) %>!</p>

<% if @resource.created_at < Time.zone.now - 1.day %>
  <%= t('my_devise_mailer.we_notice_that_you_registered_time_ago', time_ago: time_ago_in_words(@resource.created_at)) %>
<% end %>
<p><%= t('my_devise_mailer.please_follow_the_link_below_in_order_to_confirm_your_email') %></p>

<p><%= link_to t('my_devise_mailer.confirm_email'), confirmation_url(@resource, confirmation_token: @token), class: 'button' %></p>
