<p><%= t('my_devise_mailer.hi_name', name: @resource.email) %>!</p>

<p><%= t('my_devise_mailer.someone_request_a_link_to_change_a_password') %></p>

<p><%= link_to t('my_devise_mailer.change_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('my_devise_mailer.if_you_did_not_request_this_ignore') %></p>
