<p><%= t('my_devise_mailer.hi_name', name: @resource.email) %>!</p>

<p><%= t('my_devise_mailer.your_account_has_been_locked_due_to_an_excessive_number_of_unsuccessful_sign_in_attempts') %></p>

<p><%= t('my_devise_mailer.click_the_link_below_to_unlock_your_account') %>:</p>

<p><%= link_to t('my_devise_mailer.unlock_my_account'), unlock_url(@resource, unlock_token: @token) %></p>
